#title{
	text-align:center;
	color:white;
	background-color:black;
}

.container {
  display: flex; /* or inline-flex */
  justify-content:  space-between; 
  margin:20px;
}


#userInput{
   background-color: black;
   color:white;
  width: 300px;
  height:500px;
  border: 1px solid green;
  padding: 50px;
  margin: 20px;
}
#dashboard{
  background-color: black;
   color:white;
  width: 1000px;
  height:500px;
  border: 1px solid green;
  padding: 50px;
  margin: 20px;	
  
	
}
#city{
	text-align:center;
	font-size:25px;
}
#temp{
	text-align:start;
	font-size:50px;
	margin-right:155px;
	text-align:center;
}
#forecaste{
	display: flex;
flex-direction: row;
justify-content:  space-evenly; 	
}

#comment{
	
	margin-right:200px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media all and (max-width: 600px) {
  .forecaste {
      gap: 5px;
  }

  .forecaste hr {
      width: 330px;
  }
}
